{% extends 'base.html' %}
<!-- load humanize to display amount with human readble way -->
{% load humanize %}
{% block title %}Transaction Repor - AH's Financet{% endblock %}

{% block body %}
<div class="w-[80%] lg:w-[50%] mt-5 mx-auto mockup-window bg-base-100 border border-base-300">
    <h3 class="pl-5 font-bold">Account's Current Situations</h3>
    <div class="grid place-content-center h-30">
        <p><span class="font-bold underline mr-2">Balance:</span> ${{ account.balance|floatformat:2|intcomma }}</p>
    </div>
</div>

<!-- details transactions report -->
<div class="my-5 py-3 px-4 bg-white rounded-xl shadow-md">
  <h1 class="font-bold text-3xl text-center pb-5 pt-2">Transaction Report</h1>
  <hr />

  <!-- transactions lists filter according to date range -->
  <form method="GET" action="{% url 'transactions:transaction_report' %}" class="flex justify-around gap-2 mt-6">
    <div class="pl-3 pr-2 bg-white border rounded-md border-gray-500 flex items-center w-[35%]">
      <label for="start_date" class="mr-2">From:</label>
      <input type="date" id="start_date" name="start_date"  class="appearance-none w-[70%] outline-none focus:outline-none" />
    </div>
    <div class="pl-3 pr-2 bg-white border rounded-md border-gray-500 flex items-center w-[31%]">
      <label for="end_date" class="mr-2">To:</label>
      <input type="date" id="end_date" name="end_date" class="appearance-none w-[80%] outline-none focus:outline-none" />
    </div>
    <div>
      <button class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-1 px-8 rounded focus:outline-none" type="submit">
        Filter
      </button>
    </div>
  </form>

  <!-- transactions report table -->
  <table class="table-auto mx-auto w-full px-2 rounded-xl mt-8 border dark:border-neutral-500 text-center">
    <thead class="bg-blue-600 text-white">
      <tr class="bg-gradient-to-tr from-blue-400 to-blue-900 rounded-md py-2 font-bold border">
        <th class="px-1 py-2">Date</th>
        <th class="px-1 py-2">Transaction Type</th>
        <th class="px-1 py-2">Amount</th>
        <th class="px-1 py-2">Balance After Transaction</th>
      </tr>
    </thead>
    <tbody>
      <!-- transactions list -->
      {% for transaction in object_list %}
      <tr class="border-b dark:border-neutral-500">
        <td class="px-1 py-2">{{ transaction.transaction_time|date:"F d, Y h:i A" }}</td>
        <td class="px-1 py-3 border">
          <span class="font-bold leading-tight rounded-sm 
                       {% if transaction.transaction_type == 'Withdraw' or transaction.transaction_type == 'Loan Request' %} 
                          text-red-700 bg-red-100 
                       {% else %} 
                          text-green-700 bg-green-100 
                       {% endif %}">
            {{ transaction.transaction_type }}
          </span>
        </td>
        <!-- humanize amount for better readability -->
        <td class="px-1 py-2 border">${{ transaction.transaction_amount|floatformat:2|intcomma }}</td>
        <td class="px-1 py-2">$ {{ transaction.balance_after_transaction|floatformat:2|intcomma }}</td>
      </tr>
      <!-- if there is no transactions -->
      {% empty %}
        <tr><td colspan="4" class="text-center py-4">No transactions found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
