{% extends 'base.html' %}
{% block title %} Login - AH's Finance {% endblock %}

{% load tailwind_filters %}
{% block body %}
<h1 class="m-15 text-center">
    <span class="text-lg font-bold">AH's Finance</span><br />Login Yourself
</h1>
<!-- login form -->
<div class="mx-[20%] my-4">
  <form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="flex justify-center">
      <input class="btn bg-blue-400" type="submit" value="Login" />
    </div>
  </form>
  <p>Don't have an Account? <a href="{% url 'accounts:signup' %}" class="font-bold text-blue-400">Signup First</a></p>
</div>
{% endblock %}
