<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} AH's Finance {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- header sections -->
    {% include 'navbar.html' %}
    <!-- main sections -->
    <main>
        {% block body %}
            {% include 'home.html' %}
        {% endblock %}
    </main>
    <!-- footer sections -->
    {% include 'footer.html' %}
    <!-- JS script sections -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </body>
</html>
